.content {
    display:block
    margin-right: auto;
    margin: left 100px;
    max-width: 960px;
}
h1, p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 2px;
    color:darkslategray;
  }